<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="behavior">
            <callbackDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ISmartModulBackupInterface" openTimeout="00:00:02"
                         receiveTimeout="infinite" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/SmartModulBackupService"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ISmartModulBackupInterface"
                contract="ServiceInterface.ISmartModulBackupInterface" name="NetNamedPipeBinding_ISmartModulBackupInterface">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>